accelerate>=0.11.0
beartype
click
compel==0.1.8
datasets
diffusers==0.31.0
einops
ema-pytorch
filelock
gdown==4.6.0
hatchling
huggingface-hub>=0.13.2
invisible-watermark>=0.2.0
jinja2
k-diffusion>=0.0.12
matplotlib<4
numpy>=1.24,<2
omegaconf
onnx<2
opencv-python<5
packaging
pandas>=2,<3
path
pillow>=9,<11
protobuf>=3.20.3,<4
pyyaml
pytorch-fid
pytorch-lightning<3
regex!=2019.12.17
requests
safetensors>=0.3.1
scipy>=1.10,<1.14
seaborn
sentencepiece>=0.1.91,!=0.1.92
tensorboard
torch-uncertainty
torchmetrics[image]<2
torchsde
torchsummary
tqdm
transformers>=4.25.1,<5
urllib3<=2.0.0
wandb<1
